/11_A15_ConversioTipusDades/nbproject/private/
/11_A15_ConversioTipusDades/build/
/JavaApplication6/nbproject/private/
/UF1_Pt1_B_MunozKyle/nbproject/private/
/UF1_Pt1_B_MunozKyle/build/
/12_A03_Seleccio2/nbproject/private/
/12_A03_Seleccio2/build/